// variable
$primary-color : #6c0a56;
$primary-lite-color : #2385c6;


// color
$red : #F44336;
$pink : #E91E63;
$purple : #9C27B0;
$indigo : #3F51B5;
$blue : #2196F3;
$cyan : #00BCD4;
$teal : #009688;
$green : #4CAF50;
$lime : #CDDC39;
$yellow : #FFEB3B;
$orange : #FF9800;
$brown : #795548;
$grey : #9E9E9E;
$blueGrey : #607D8B;
$dark : #555;