/* reset */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400i,600i,700,700i|Yellowtail");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container:after, .clearfix:after, .row:after, ul:after {
  content: '';
  display: table;
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: top;
  max-width: 100%; }

a {
  color: #333;
  text-decoration: none; }
  a:focus, a:hover, a:active {
    text-decoration: none;
    outline: 0; }

::-webkit-input-placeholder {
  color: #bbb; }

:-moz-placeholder {
  color: #bbb; }

::-moz-placeholder {
  color: #bbb; }

:-ms-input-placeholder {
  color: #bbb; }

*::selection {
  background: #16b9ff;
  color: #fff; }

*::-moz-selection {
  background: #16b9ff;
  color: #fff; }

* {
  -webkit-text-size-adjust: none; }

[type="text"], [type="num"], [type="tel"], [type="file"], [type="password"], [type="email"], [type="search"], [type="url"], textarea {
  border: 1px solid #ccc; }

[type="text"]:focus, [type="num"]:focus, [type="tel"]:focus, [type="file"]:focus, [type="password"]:focus, [type="email"]:focus, [type="search"]:focus, [type="url"]:focus, textarea:focus {
  border-color: #5a4e68; }

/* main font */
body {
  font-family: 'Noto Sans KR', 'Malgun Gothic', 'dotum', 'gulim' , 'sans-serif';
  word-break: break-all;
  font-weight: 300;
  line-height: 1; }

/* layout */
body, html {
  height: 100%; }

#wrap {
  min-width: 1260px; }

.container {
  width: 1200px;
  margin: 0 auto; }

@media (max-width: 1200px) {
  .container {
    width: 100%; } }
/* typography */
h1, h2 {
  line-height: 1.2; }

h3, h4, h5, h6 {
  line-height: 1.4; }

p {
  color: #666;
  font-size: 15px;
  line-height: 1.8; }

/* short cut*/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.por {
  position: relative; }

.poa {
  position: absolute; }

.pof {
  position: fixed; }

.dtb {
  display: table; }

.dtbc {
  display: table-cell; }

.vat {
  vertical-align: top; }

.vam {
  vertical-align: middle; }

.vab {
  vertical-align: bottom; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; }

/* interval */
.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

/* form */
.form-ctrl {
  color: #555;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/* Slick Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

.slick-slide:focus {
  outline: 0; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto; }

.slick-arrow.slick-hidden {
  display: none; }

/* design selectbox */
.designSelectW {
  display: block; }

.select-content {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
  margin-bottom: 10px; }

.select-title {
  border: 1px solid #e8e8e8;
  height: 30px;
  line-height: 30px;
  position: relative; }

.select-title:before {
  content: '';
  background: url(../img/select_arrow.png) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 15px;
  width: 30px;
  height: 30px; }

.select-content a {
  padding: 0 8px;
  line-height: 30px;
  display: block;
  font-size: 12px; }

.select-content a:hover,
.select-content a:focus {
  text-decoration: none;
  cursor: pointer; }

.select-content .select-title a {
  display: block;
  color: #aaaaaa; }

.select-content .select-list {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border: 1px solid #0088cc;
  background: #fff; }

.select-content .select-list a {
  color: #333; }

.select-content .select-list a:hover {
  background: #f8f8f8; }

@media screen and (max-width: 768px) {
  .select-title {
    height: 26px;
    line-height: 26px; }

  .select-content a {
    font-size: 12px;
    line-height: 25px; }

  .select-title:before {
    top: 10px;
    right: 10px; } }

/*# sourceMappingURL=base.css.map */
